# Pip dependencies
pillow
rasterio
scikit-learn
scipy
joblib
tqdm
openpyxl
geopandas
tensorflow
pandas
#numpy
numpy<2.0
pyproj
toolz
dask
shapely
nomkl
#pyinterp
matplotlib
fiona
keras
einops
timm
yapf
tomli
platformdirs
pybind/Users/OWAGP/README.py11>=2.12